.pie-number {
	font-size: 1.5em;
	font-weight: 100;
	letter-spacing: -0.05em;
	color: #bbbbbb;
}

.easyPieChart {
	position: relative;
	text-align: center;
	margin: 5px 20px 27px;
	line-height: 100px;
}

.easyPieChart canvas {
	position: absolute;
	top: 0;
	left: 0;
}

.easyPieChart .chart-desc {
	position: absolute;
	top: 80px;
	left: 0;
	width: 100px;
	text-align: center;
}

.pie-chart{
	float: left;
	height: 130px;
	width: 100px;
}

.pie-chart:after {
	clear: both;
}
