body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:650px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:640px;
  height:1136px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u1 {
  position:absolute;
  left:2px;
  top:560px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:846px;
  width:640px;
  height:204px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:204px;
}
#u3 {
  position:absolute;
  left:2px;
  top:94px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:393px;
  top:1066px;
  width:34px;
  height:35px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:35px;
}
#u5 {
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:390px;
  top:1107px;
  width:50px;
  height:23px;
  font-family:'方正黑体简体 Regular', '方正黑体简体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:23px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:552px;
  top:1068px;
  width:34px;
  height:35px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:35px;
}
#u9 {
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:559px;
  top:1107px;
  width:21px;
  height:23px;
  font-family:'方正黑体简体 Regular', '方正黑体简体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:23px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:236px;
  top:1068px;
  width:28px;
  height:35px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:35px;
}
#u13 {
  position:absolute;
  left:2px;
  top:10px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:230px;
  top:1107px;
  width:50px;
  height:23px;
  font-family:'方正黑体简体 Regular', '方正黑体简体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:23px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:70px;
  top:1068px;
  width:40px;
  height:35px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:35px;
}
#u17 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:70px;
  top:1107px;
  width:50px;
  height:23px;
  font-family:'方正黑体简体 Regular', '方正黑体简体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#F38923;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:23px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:30px;
  top:909px;
  width:600px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:583px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:5px;
  width:600px;
  height:1px;
}
#u21 {
  position:absolute;
  left:30px;
  top:977px;
  width:600px;
  height:10px;
}
#u21_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_end {
  position:absolute;
  left:583px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_line {
  position:absolute;
  left:0px;
  top:5px;
  width:600px;
  height:1px;
}
#u22 {
  position:absolute;
  left:30px;
  top:862px;
  width:143px;
  height:36px;
  font-family:'方正黑体简体 Regular', '方正黑体简体';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#666666;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:36px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:30px;
  top:930px;
  width:143px;
  height:36px;
  font-family:'方正黑体简体 Regular', '方正黑体简体';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#666666;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:36px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:30px;
  top:998px;
  width:143px;
  height:36px;
  font-family:'方正黑体简体 Regular', '方正黑体简体';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#666666;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:36px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:10px;
  top:10px;
  width:640px;
  height:40px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:40px;
}
#u29 {
  position:absolute;
  left:2px;
  top:12px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:10px;
  top:50px;
}
#u30_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u30_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:88px;
  font-family:'方正黑体简体 Regular', '方正黑体简体';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:88px;
}
#u32 {
  position:absolute;
  left:2px;
  top:24px;
  width:636px;
  word-wrap:break-word;
}
#u30_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u30_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:88px;
  font-family:'方正黑体简体 Regular', '方正黑体简体';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:88px;
}
#u34 {
  position:absolute;
  left:2px;
  top:24px;
  width:636px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:10px;
  top:467px;
  width:640px;
  height:204px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:204px;
}
#u36 {
  position:absolute;
  left:2px;
  top:94px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:10px;
  top:690px;
  width:640px;
  height:136px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:136px;
}
#u38 {
  position:absolute;
  left:2px;
  top:60px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:30px;
  top:521px;
  width:600px;
  height:10px;
}
#u39_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_end {
  position:absolute;
  left:583px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_line {
  position:absolute;
  left:0px;
  top:5px;
  width:600px;
  height:1px;
}
#u40 {
  position:absolute;
  left:30px;
  top:589px;
  width:600px;
  height:10px;
}
#u40_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_end {
  position:absolute;
  left:583px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_line {
  position:absolute;
  left:0px;
  top:5px;
  width:600px;
  height:1px;
}
#u41 {
  position:absolute;
  left:30px;
  top:745px;
  width:600px;
  height:10px;
}
#u41_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_end {
  position:absolute;
  left:583px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_line {
  position:absolute;
  left:0px;
  top:5px;
  width:600px;
  height:1px;
}
#u42 {
  position:absolute;
  left:30px;
  top:479px;
  width:143px;
  height:36px;
  font-family:'方正黑体简体 Regular', '方正黑体简体';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#666666;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:36px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:30px;
  top:544px;
  width:143px;
  height:36px;
  font-family:'方正黑体简体 Regular', '方正黑体简体';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#666666;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:36px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:30px;
  top:611px;
  width:143px;
  height:36px;
  font-family:'方正黑体简体 Regular', '方正黑体简体';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#666666;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:36px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:30px;
  top:708px;
  width:143px;
  height:36px;
  font-family:'方正黑体简体 Regular', '方正黑体简体';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#666666;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:36px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:30px;
  top:775px;
  width:143px;
  height:36px;
  font-family:'方正黑体简体 Regular', '方正黑体简体';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#666666;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:36px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:10px;
  top:137px;
  width:640px;
  height:310px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:310px;
}
#u53 {
  position:absolute;
  left:2px;
  top:147px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:30px;
  top:202px;
  width:600px;
  height:10px;
}
#u54_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_end {
  position:absolute;
  left:583px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_line {
  position:absolute;
  left:0px;
  top:5px;
  width:600px;
  height:1px;
}
#u55 {
  position:absolute;
  left:30px;
  top:272px;
  width:600px;
  height:10px;
}
#u55_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_end {
  position:absolute;
  left:583px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_line {
  position:absolute;
  left:0px;
  top:5px;
  width:600px;
  height:1px;
}
#u56 {
  position:absolute;
  left:30px;
  top:297px;
}
#u56_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u56_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:60px;
  font-size:36px;
  color:#F38923;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:60px;
}
#u58 {
  position:absolute;
  left:2px;
  top:9px;
  width:596px;
  word-wrap:break-word;
}
#u56_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u56_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:60px;
  font-size:36px;
  color:#FFFFFF;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:60px;
}
#u60 {
  position:absolute;
  left:2px;
  top:9px;
  width:596px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:30px;
  top:383px;
  width:170px;
  height:39px;
  font-family:'方正黑体简体 Regular', '方正黑体简体';
  font-weight:400;
  font-style:normal;
  font-size:34px;
  color:#F38923;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:39px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:560px;
  top:383px;
  width:70px;
  height:39px;
  font-family:'方正黑体简体 Regular', '方正黑体简体';
  font-weight:400;
  font-style:normal;
  font-size:34px;
  color:#F38923;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:39px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:30px;
  top:153px;
  width:170px;
  height:39px;
  font-family:'方正黑体简体 Regular', '方正黑体简体';
  font-weight:400;
  font-style:normal;
  font-size:34px;
  color:#F38923;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:39px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:30px;
  top:223px;
  width:170px;
  height:39px;
  font-family:'方正黑体简体 Regular', '方正黑体简体';
  font-weight:400;
  font-style:normal;
  font-size:34px;
  color:#F38923;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:39px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:606px;
  top:492px;
  width:20px;
  height:20px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  color:#999999;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u70 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:601px;
  top:492px;
  width:20px;
  height:20px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  color:#F38923;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u72 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:606px;
  top:560px;
  width:20px;
  height:20px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  color:#999999;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u74 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:601px;
  top:560px;
  width:20px;
  height:20px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  color:#F38923;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u76 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:606px;
  top:629px;
  width:20px;
  height:20px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  color:#999999;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u78 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:601px;
  top:629px;
  width:20px;
  height:20px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  color:#F38923;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u80 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:606px;
  top:717px;
  width:20px;
  height:20px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  color:#999999;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u82 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:601px;
  top:717px;
  width:20px;
  height:20px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  color:#F38923;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u84 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:606px;
  top:783px;
  width:20px;
  height:20px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  color:#999999;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u86 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:601px;
  top:783px;
  width:20px;
  height:20px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  color:#F38923;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u88 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:606px;
  top:870px;
  width:20px;
  height:20px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  color:#999999;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u90 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:601px;
  top:870px;
  width:20px;
  height:20px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  color:#F38923;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u92 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:606px;
  top:938px;
  width:20px;
  height:20px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  color:#999999;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u94 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:601px;
  top:938px;
  width:20px;
  height:20px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  color:#F38923;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u96 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:606px;
  top:1006px;
  width:20px;
  height:20px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  color:#999999;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u98 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:601px;
  top:1006px;
  width:20px;
  height:20px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  color:#F38923;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u100 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:10px;
  top:1044px;
  width:639px;
  height:10px;
}
#u101_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u101_end {
  position:absolute;
  left:622px;
  top:-5px;
  width:18px;
  height:20px;
}
#u101_line {
  position:absolute;
  left:0px;
  top:5px;
  width:639px;
  height:1px;
}
#u102 {
  position:absolute;
  left:11px;
  top:1049px;
  width:636px;
  height:94px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:636px;
  height:94px;
}
#u103 {
  position:absolute;
  left:2px;
  top:39px;
  width:632px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:30px;
  top:78px;
  width:37px;
  height:37px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u105 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:590px;
  top:83px;
  width:40px;
  height:26px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:26px;
}
#u107 {
  position:absolute;
  left:2px;
  top:5px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:20px;
  top:1056px;
  width:140px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u109 {
  position:absolute;
  left:180px;
  top:1056px;
  width:140px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u110 {
  position:absolute;
  left:340px;
  top:1056px;
  width:140px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u111 {
  position:absolute;
  left:114px;
  top:154px;
}
#u111_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u111_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:39px;
  font-family:'方正黑体简体 Regular', '方正黑体简体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
  line-height:39px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:39px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:115px;
  top:153px;
  width:445px;
  height:39px;
}
#u114_input {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:39px;
  background-color:transparent;
  font-family:'方正黑体简体 Regular', '方正黑体简体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u115 {
  position:absolute;
  left:114px;
  top:223px;
}
#u115_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u115_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:39px;
  font-family:'方正黑体简体 Regular', '方正黑体简体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
  line-height:39px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:39px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:115px;
  top:222px;
  width:445px;
  height:39px;
}
#u118_input {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:39px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
